<template name="donorDashboardView">
<div id="header">
<h1>WELCOME TO HALO</h1>
</div>
		
	<p>Helping those in need around world</p>

<!-- of course, you should move the inline CSS style to your stylesheet -->
<!-- main container, width = 70% of page, centered -->
<div id="contentBox" style="margin:0px auto; width:70%">

 <!-- columns divs, float left, no margin so there is no space between column, width=1/3 -->
    <div id="column1" style="float:left; margin:0; width:33%;">
     Help someone in need.
    </div>
    
    <div id="column2" style="float:left; margin:0;width:33%;">
     Get help with HALO.
    </div>
    
</div>

</template>