<template name="footer">
  <footer class="footer">
    <div class="footer--socials">
      <a href="#" class="footer--social footer--social__heart"></a>
      <a href="#" class="footer--social footer--social__facebook"></a>
      <a href="#" class="footer--social footer--social__twitter"></a>
      <a href="#" class="footer--social footer--social__instagram"></a>
    </div>
    <div class="footer--links">
      <a href="#" class="footer--link uppercase">help &amp; support</a>
      <a href="#" class="footer--link uppercase">privacy policy</a>
      <a href="#" class="footer--link uppercase">contact</a>
    </div>
    <div class="footer--divider"></div>
    <p class="footer--copyright text-serif text-white">©2016  All Rights Reserved.</p>
  </footer>
</template>