<template name="frontFacingNav">
<header class="nav" role="banner">
  <div class="nav--wrapper">
    <div class="nav--hamburger" data-action="open-sidenav"></div>
    <a href="/" class="nav--logo-link">
      <div class="nav--logo"></div>
    </a>
    <nav role="navigation" class="pull-left hidden-xs hidden-sm">
      <ul class="nav--menu">
        <li class="nav--link">
          <a href="#">Current Needs</a>
        </li>
        <li class="nav--link">
          <a href="#">How it works</a>
        </li>
      </ul>
    </nav>
    <div class="nav--login">
      <a class="nav--login-link" href="#login">Log in</a>
    </div>
  </div>
</header>
</template>