<template name="slideNav">
<div class="slide-nav" style="{{navIsOpen}}">
  <div class="slide-nav--header">
    <div class="slide-nav--exit" data-action='close-nav'></div>
    <a class="slide-nav--logo-link">
      <div class="slide-nav--logo"></div>
    </a>
  </div>
  <ul class="slide-nav--menu">
    <li class="slide-nav--link"><a href="#">Current Needs</a></li>
    <li class="slide-nav--link"><a href="#">How it works</a></li>
    <li class="slide-nav--divider"></li>

    <li class="slide-nav--link"><a href="#">About Halo</a></li>
    <li class="slide-nav--link"><a href="#">Faq</a></li>
    <li class="slide-nav--divider"></li>

    <li class="slide-nav--link"><a href="#">Help &amp; Support</a></li>
  </ul>
  <div class="slide-nav--ctas">
    <a href="#" class="btn btn-large btn-primary uppercase">Start giving</a>
    <a href="#" class="btn btn-large btn-primary uppercase">Share your need</a>
  </div>
  <a href="#" class="slide-nav--login uppercase text-bold">Log In</a>
</div>
</template>